@use 'variables' as *;

body {
    font-family: $font-body;
    color: $color-text;
    line-height: 1.6;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-display;
    font-weight: 400;
    line-height: 1.2;
}

.mono {
    font-family: $font-display;
}