@use 'variables' as *;
@use 'reset';
@use 'typography';

* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M0 0 L0 12 L3.5 8.5 L6 13 L7.5 12.3 L5 7.5 L9.5 7.5 Z' fill='white' stroke='black' stroke-width='0.8'/%3E%3C/svg%3E") 0 0, auto;
}

body,
html {
    background-color: $color-bg;
    scroll-behavior: smooth;
}

/* Base64 Noise Grain Overlay */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
    /* Below cursor */
    opacity: 0.03;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}


::selection {
    background: rgba($color-accent, 0.3);
    color: $color-text;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $color-bg;
}

::-webkit-scrollbar-thumb {
    background: rgba($color-text, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: $color-accent;
}